---
BasedOnStyle: WebKit

AlignEscapedNewlines: Left
AlignConsecutiveMacros: true
AlignTrailingComments:
    Kind: Always
    OverEmptyLines: 0
IndentPPDirectives: AfterHash
InsertNewlineAtEOF: true
LineEnding: LF
RemoveSemicolon: true
