---
BasedOnStyle: WebKit

AlignEscapedNewlines: Left
AlignTrailingComments:
    Kind: Always
    OverEmptyLines: 0
BreakBeforeBraces: Custom
IndentPPDirectives: AfterHash
InsertNewlineAtEOF: true
LineEnding: LF
RemoveSemicolon: true
